@model MenaxhimiIKinemase.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filmi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulli)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Premiera)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Premiera)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Regjisori)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Regjisori)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Zhanri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Zhanri)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pershkrimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pershkrimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoviePicture)
        </dt>

        <dd class="col-sm-10">
            <img src="@("~/img/"+Model.MoviePicture)" asp-append-version="true" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTrailer)
        </dt>

        <dd class="col-sm-10">
            <video src="@Url.Content("~/videos/"+Model.MovieTrailer)" asp-append-version="true" controls width:400px; height:400px loop />
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-success"><a asp-action="Edit" asp-route-id="@Model.FilmiID">Edit</a></button>
    <button class="btn btn-secondary"><a asp-action="Index">Back to List</a></button>
</div>